<div>
    <nav>
        <a href="/">Home</a>
        {{#if logged_in}}
        <a href="/dashboard">Dashboard</a>
        <a href="/">Logout</a>
        {{/if}}
        {{#unless logged_in}}
        <a href="/login">Dashboard</a>
        <a href="/login">Login</a>
        {{/unless}}
    </nav>
    {{#each posts}}
    <h2>{{title}}</h2>
    <h3>{{body}}</h3>
    {{/each}}
</div>
<script src="/js/logout.js" id="logout"></script>