<div>
    <h1>Login</h1>
    <form action="" id="login-form">
        <h5>Username:</h5>
        <input type="text" id="username-login">
        <h5>Password:</h5>
        <input type="text" id="password-login">
        <button type="submit">Login</button>
        <a href="/signup">Don't have an account? Signup!</a>
    </form>
</div>