<div>
    <h1>Signup</h1>
    <form action="" id="signup-form">
        <h5>Username:</h5>
        <input type="text" id="name-signup">
        <h5>Password:</h5>
        <input type="text" id="password-signup">
        <button type="submit">Create Account</button>
    </form>
</div>