<div>
    <h1>Signup</h1>
    <form id="signup-form">
        <h5>Username:</h5>
        <input type="text" id="username-signup">
        <h5>Password:</h5>
        <input type="text" id="password-signup">
        <button type="submit">Create Account</button>
    </form>
</div>
<script src="/js/signup.js"></script>